APP_NAME=Quotarix
APP_ENV=production
APP_KEY=base64:755Z6y7412e/rL+9Hh1W08r2KqT8N31kP9rS0U4Vw5k=
APP_DEBUG=false
APP_TIMEZONE=Europe/Istanbul
APP_URL=https://quotarix.com

APP_LOCALE=tr
APP_FALLBACK_LOCALE=tr
APP_FAKER_LOCALE=tr_TR

APP_MAINTENANCE_DRIVER=file
BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=cpuser_quotarix_web
DB_USERNAME=cpuser_quotarix_usr
DB_PASSWORD=YOUR_STRONG_PASSWORD_HERE

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

CACHE_STORE=file

MAIL_MAILER=smtp
MAIL_HOST=mail.quotarix.com
MAIL_PORT=465
MAIL_USERNAME=no-reply@quotarix.com
MAIL_PASSWORD=YOUR_SMTP_PASSWORD_HERE
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="no-reply@quotarix.com"
MAIL_FROM_NAME="${APP_NAME}"
